@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

.navbar {
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items:end;
    padding: 10px 20px;
    border-bottom: 1px solid whitesmoke;
  
}

.navbar a {
    color: whitesmoke;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.navbar a p {
    letter-spacing: 1px;
}

.navbar a:hover {
    color: #94755d;
}

.links {
    display: flex;
    gap: 50px;
}

.logo {
    width: 120px;
}

