* {
    color: whitesmoke;
}

.room-page {
    padding-bottom: 100px;
}

.aufgaben-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.aufgabe {
    display: flex;
    align-items: center;
    border: 1px solid grey;
    padding: 10px 30px;
    gap: 10px;
    width: 270px;
    border-radius: 10px;
    margin-block: 20px;
    justify-content: space-between;
}

.aufgabe p {
    font-size: 15px;
    font-weight: bold;
}

input[type='checkbox'] {
    width:30px;
    height:30px;
    background:white;
    border-radius:15px;
    cursor: pointer;
}

.icon {
    font-size: 50px;
}

.icon-and-header {
    margin-top: 30px;
  display: flex;
   align-items: center;
 gap: 20px;
}

