* {
    color: whitesmoke;
}


.aufgaben-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.aufgaben-container h1 {
    margin: 0;
    margin-top: 50px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.aufgabe {
    cursor: pointer;
   text-align: center;
    border: 1px solid grey;
    padding: 20px 30px;
    width: 270px;
    border-radius: 10px;
    justify-content: space-between;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

.icon {
    font-size: 40px;
}

.next-room-link {
    display: flex;
    text-decoration: none;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 50px;
    justify-content: center;
   
}


