
.zimmer-status-div {
    display: flex;
    justify-content: center;
    gap: 80px;
    flex-wrap: wrap;
    padding-bottom: 100px;
    margin-top: 40px;
}

.floor {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.header {
    color: whitesmoke;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 50px;
    text-decoration: underline;
    text-underline-offset: 6px;
}


.room-numbers-div{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.room-number {
    font-size: 30px;
    font-weight: bold;
    filter: drop-shadow(5px 5px 10px #000);
    border-radius: 50%;
    text-align: center;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    text-decoration: none;
}

.dirty {
    background-color: rgb(190, 21, 21);
}

.cleaned {
    background-color: rgb(39, 163, 39);
}